version: "3"

services:
  # 1. WARPコンテナ (SOCKS5サーバー)
  warp:
    image: caomingjun/warp
    container_name: warp
    restart: always
    device_cgroup_rules:
      - 'c 10:200 rwm'
    environment:
      - WARP_SLEEP=2
      # 【修正】SOCKS5モードで動かすため、NAT(ファイアウォール)は無効化する！
      # - WARP_ENABLE_NAT=1  <-- これが邪魔をしておった
    cap_add:
      - MKNOD
      - AUDIT_WRITE
      - NET_ADMIN
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.forwarding=1
    volumes:
      - ./data_warp:/var/lib/cloudflare-warp
    networks:
      private_net:
        ipv4_address: 172.25.0.2
        ipv6_address: fd00:cafe::2

  # 2. Tailscaleコンテナ (SOCKS5クライアント)
  tailscale:
    image: tailscale/tailscale:latest
    container_name: tailscale
    restart: always
    depends_on:
      - warp
    environment:
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_STATE_DIR=/var/lib/tailscale
      # 【修正】ここは Exit Node の設定だけにする
      - TS_EXTRA_ARGS=--advertise-exit-node
      # 【重要】Userspaceモードを環境変数で有効化
      - TS_USERSPACE=true
      # すべての通信をWARPのSOCKS5プロキシに転送
      - ALL_PROXY=socks5://172.25.0.2:1080
      - HTTP_PROXY=http://172.25.0.2:1080
      - HTTPS_PROXY=http://172.25.0.2:1080
    volumes:
      - ./data_tailscale:/var/lib/tailscale
      - /etc/hostname:/host_hostname:ro
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
    networks:
      private_net:
        ipv4_address: 172.25.0.3
        ipv6_address: fd00:cafe::3
    entrypoint: /bin/sh
    command: >
      -c "
      export TS_HOSTNAME=\"warp-$$(cat /host_hostname | tr -d '\n')\" &&
      echo \"Hostname set to: $$TS_HOSTNAME\" &&

      echo 'Waiting for WARP SOCKS5 proxy...' &&
      # ncコマンドでポート1080が開くのを待つ
      until nc -z 172.25.0.2 1080; do echo 'Waiting...'; sleep 2; done &&
      
      echo 'WARP is ready!' &&
      echo 'Starting Tailscale in Userspace mode...' &&
      exec /usr/local/bin/containerboot"

networks:
  private_net:
    enable_ipv6: true
    ipam:
      config:
        - subnet: 172.25.0.0/16
        - subnet: fd00:cafe::/64